:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: hsla(0, 0%, 0%, 0.8);
	background-color: rgb(255, 255, 255);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

#app {
	min-width: 320px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.header {
	text-align: center;
	font-size: 1.2rem;
}

.buttons {
	display: flex;
	justify-content: space-around;
}

.button {
	padding: 2rem;
	font-size: 1.2rem;
	border-radius: 10px 0px;
}

.button:hover {
	border-width: 2px;
	border-color: rgb(25, 0, 255);
	color: rgb(25, 0, 255);
	cursor: pointer;
}

.data {
	background-color: rgb(39, 43, 51);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1920px;
}
